---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}

  <hr>

  <br>

  {% if site.show_related %}
  <footer class="related">
    <div class="previous">{% if page.previous.url %}<span>Previous Post</span><a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a>{% endif %}</div>
    <div class="next">{% if page.next.url %}<span>Next Post</span><a href="{{ page.next.url | relative_url }}">{{ page.next.title }}</a>{% endif %}</div>
  </footer>
  {% endif %}

  <hr>

  {% comment %}
    Comments Section: https://giscus.vercel.app
  {% endcomment %}
  <script src="https://giscus.app/client.js"
          data-repo="tessapower/personal-website"
          data-repo-id="MDEwOlJlcG9zaXRvcnkyNjU3ODc4OTM="
          data-category="General"
          data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyOTQyMjg3"
          data-mapping="url"
          data-reactions-enabled="1"
          data-theme="preferred_color_scheme"
          crossorigin="anonymous"
          async
  >
  </script>

</article>

