.notebox {
    margin: 30px 0;
    margin-left: -30px;
    padding: 20px 20px 24px;
    padding-left: 50px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #eff0f2;
    border-color: #bcbcbc;

}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: 700
}

.alert>p,
.alert>ul {
    margin-bottom: 0
}

.alert>p+p {
    margin-top: 5px
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6
}

.alert-success hr {
    border-top-color: #c9e2b3
}

.alert-success .alert-link {
    color: #2b542c
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.alert-info hr {
    border-top-color: #a6e1ec
}

.alert-info .alert-link {
    color: #245269
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc
}

.alert-warning hr {
    border-top-color: #f7e1b5
}

.alert-warning .alert-link {
    color: #66512c
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.alert-danger hr {
    border-top-color: #e4b9c0
}

.alert-danger .alert-link {
    color: #843534
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color:#D2D2CF;
}
.bs-callout-default h4 {
    color: #D2D2CF;
}
.bs-callout-primary {
    border-left-color: #68F;
}
.bs-callout-primary h4 {
    color: #68F;
}
.bs-callout-success {
    border-left-color: #8ECD8E;
}
.bs-callout-success h4 {
    color: #8ECD8E;
}
.bs-callout-danger {
    border-left-color: #ed826a;
}
.bs-callout-danger h4 {
    color: #ed826a;
}
.bs-callout-warning {
    border-left-color: #FFA647;
}
.bs-callout-warning h4 {
    color: #FFA647;
}
.bs-callout-info {
    border-left-color: #78CAE3;
}
.bs-callout-info h4 {
    color: #78CAE3;
}